body {
    text-align: center;
}

#main {
    width: 50vw;
    margin: auto;
    width: 50%;
}

#actions {
    margin-top: 35vh;
}

h1 {
    font-size: 48px;
}

#question {
    color: red;
}

select, #stats, .w3-btn {
    font-size: 24px;
}

#statsInfos {
    font-size: 28px;
}

#listInfos {
    font-size: 34px;
    margin-bottom: -2vh;
}